* {
  box-sizing: border-box;
}

.container22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 412px;
  height: 1482px;

  .backgroundShadow2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0px 29px 57px -14px #00000040;
    max-width: 513px;
    height: 1485px;
    overflow: hidden;

    .background {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: var(--color-grey-95, #f2f4f5);
      min-height: 859px;

      .image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        left: 0;
        flex-shrink: 0;
        opacity: 0.05;
        width: 412px;
        height: 1489px;
      }

      .container21 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        z-index: 1;
        height: 1489px;

        .backgroundShadow {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 18px;
          box-shadow: 0px 5px 7px -1px #0000001a, 0px 2px 5px -2px #0000001a;
          background: var(--color-spring-green-45, #3fa564);
          padding: 18px;
          overflow: hidden;

          .sVg {
            flex-shrink: 0;
            width: 27px;
            height: 27px;
          }

          .createAccount {
            flex-shrink: 0;
            line-height: 34px;
            letter-spacing: 0;
            color: var(--www-figma-com-White, #ffffff);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 23px;
            font-weight: 500;
          }
        }

        .container20 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding: 27px;
          height: 1401px;
          row-gap: 27px;

          .dhakaNorthCity {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--www-figma-com-Storm-Gray, #717182);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }

          .enterYourFullName {
            line-height: 27px;
            letter-spacing: 0;
            color: var(--www-figma-com-Storm-Gray, #717182);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }

          .label {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            padding-bottom: 1px;

            .fullName {
              flex-grow: 1;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--www-figma-com-Cod-Gray, #0a0a0a);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }

          .container2 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .container {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border-radius: 16px;
              background: var(--color-grey-96, #f3f3f5);
              padding: 14px 159px 14px 15px;
              overflow: hidden;
            }
          }

          .container4 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .container3 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border-radius: 16px;
              background: var(--color-grey-96, #f3f3f5);
              padding: 14px 171px 14px 15px;
              overflow: hidden;
            }
          }

          .container6 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .container5 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border-radius: 16px;
              background: var(--color-grey-96, #f3f3f5);
              padding: 14px 102px 14px 15px;
              overflow: hidden;
            }
          }

          .container8 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .container7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border-radius: 16px;
              background: var(--color-grey-96, #f3f3f5);
              padding: 14px 103px 14px 15px;
              overflow: hidden;
            }
          }

          .container11 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .frame6 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 9px;
              margin-right: 10px;

              .container9 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                border-radius: 16px;
                background: #e9e9ec;
                padding: 21px 16px 17px 15px;
                overflow: auto;

                .dhakaSouthCity {
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--www-figma-com-Storm-Gray, #717182);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }

              .container10 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                border-radius: 16px;
                background: #e9e9ec;
                padding: 20px 89px 15px 15px;
                width: 169px;
                height: 55px;
                overflow: hidden;
              }
            }
          }

          .container13 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .container12 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              border-radius: 16px;
              background: var(--color-grey-96, #f3f3f5);
              padding: 14px 89px 1px 15px;
              width: 357px;
              height: 55px;
              overflow: hidden;
            }
          }

          .container15 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .container14 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              border-radius: 16px;
              background: var(--color-grey-96, #f3f3f5);
              padding: 14px 89px 1px 15px;
              width: 357px;
              height: 55px;
              overflow: hidden;

              .road7BlockB {
                flex-shrink: 0;
                line-height: 27px;
                letter-spacing: 0;
                color: var(--www-figma-com-Storm-Gray, #717182);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
              }
            }
          }

          .container17 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            row-gap: 9px;

            .border {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border: 1px solid var(--www-figma-com-Mischka, #d1d5dc);
              border-radius: 16px;
              padding: 28px;
              row-gap: 14px;

              .sVg2 {
                flex-shrink: 0;
                width: 46px;
                height: 46px;
              }

              .uploadYourNidOrIdCar {
                flex-shrink: 0;
                align-self: stretch;
                text-align: center;
                line-height: 27px;
                letter-spacing: 0;
                color: var(--www-figma-com-River-Bed, #4a5565);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
              }

              .container16 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                justify-content: center;
                column-gap: 14px;
                margin-right: 1px;
                margin-left: 1px;
                padding-top: 5px;

                .button {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  column-gap: 9px;
                  border: 1px solid var(--www-figma-com-Black-10, #0000001a);
                  border-radius: 16px;
                  background: var(--color-white-solid, #ffffff);
                  padding: 8px 14px;
                  height: 41px;

                  .sVg3 {
                    flex-shrink: 0;
                    width: 18px;
                    height: 18px;
                  }

                  .camera {
                    flex-shrink: 0;
                    line-height: 23px;
                    letter-spacing: 0;
                    color: var(--www-figma-com-Cod-Gray, #0a0a0a);
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                  }
                }
              }
            }
          }

          .container18 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 14px;
            margin-right: -1px;
            padding-top: 1px;

            .checkboxMargin {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding-top: 5px;

              .checkbox {
                flex-shrink: 0;
                border: 1px solid var(--www-figma-com-Black-10, #0000001a);
                border-radius: 5px;
                box-shadow: 0px 1px 2px 0px #0000000d;
                background: var(--color-grey-96, #f3f3f5);
                width: 18px;
                height: 18px;
              }
            }

            .label2 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding-right: 17px;

              .iAgreeToTheTermsCond {
                flex-shrink: 0;
                width: 308px;
                line-height: 27px;
                letter-spacing: 0;
                color: var(--www-figma-com-Oxford-Blue, #364153);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
            }
          }

          .button2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            opacity: 0.5;
            border-radius: 27px;
            background: var(--color-spring-green-45, #3fa564);
            padding: 9px 18px;
            height: 65px;

            .createAccount2 {
              flex-grow: 1;
              text-align: center;
              line-height: 23px;
              letter-spacing: 0;
              color: var(--www-figma-com-White, #ffffff);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }

          .container19 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            margin-right: -1px;
            padding-top: 1px;

            .alreadyHaveAnAccount {
              flex-shrink: 0;
              line-height: 27px;
              letter-spacing: 0;
              color: var(--www-figma-com-River-Bed, #4a5565);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
            }

            .login {
              flex-shrink: 0;
              line-height: 27px;
              letter-spacing: 0;
              color: var(--www-figma-com-Chateau-Green, #3fa564);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
